In [2]:
#EDA
1) Pandas      : Dataframe or data applications
2) Numpy       : Numerical pyhton for math operations
3) Matplotlib  : For plot graphs
4) Seaborn     : For plot graphs
5) Bokhe       : For plots
6) Plotly      : For plots

#Machine Learning
7) Scikit learn(Sklearn)  : ML Models
8) Stats                  : Statistical Models

#Data retrival from SQL scrapping
9) Sqlite          : connect with database
10) Beautiful soap : scrap the data from website
11) Websocket      : scrap

#Deep Learning/Computer vision
12) TensorFlow      : Google
13) Keras           : DL models
14) OpenCV          : Image operations
15) Pillow (PIL)    : Image operations
16) Pytorch         : Facebook
17) Pretrained Model
    VGG16
    Mobilenet
    RESNET
    RCNN
    MASKRCNN
    FASTERCNN
    YOLO
#Natural Language Process
18) NLTK            :Natural Language Process
19) Scipy
20) Word2vec (how words will convert into vector) :
21) GloVE      
22) Wordcloud

#Hugging face
23) Transformers     : BERT

#GenAI Models
24) OpenAI+Microsoft  : GPT Models 
25) Google            : Gemini
26) Amazon            : Q
27) Meta Facebook     : MetaAI
28) Apple     

LLAMA
GEMMA
Dalle-E
T5

ALL ARE HAVING DIFFERENT PACKAGES

#Langchain
29) Langchain Framework

#Deployments
30) Flask
31) Streamlit
32) Django

#MLops
33) MLflow
34) Kuberflow
35) Azure AI services : Azure packages
36) GCP : GCP packages

SyntaxError: unmatched ')' (3551580225.py, line 2)

**Step-1**
 
**Create a Dataframe**

- We will create a dataframe using list

- We will create a dataframe using dictionary

In [ ]:
import pandas as pd

In [ ]:
d1=pd.DataFrame()
d1

In [ ]:
type(d1)

**Step-2**

**Provide the data**

In [ ]:
names=['tarun','surendar','mohith']
pd.DataFrame(names)

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
data=zip(names,age)
pd.DataFrame(data)

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
city=['Hyd','Blr','Nlr']
data=zip(names,age,city)
pd.DataFrame(data)

In [ ]:
names=['tarun', 'surendar', 'mohith' ]
pd. DataFrame(names,
    columns=['Names' ])

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
pd. DataFrame(zip(names,age),
    columns=['Names','Age'])

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
pd. DataFrame(zip(names,age),
    columns=['Names','Age'])

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
city=['Hyd','Blr','Nlr']
pd. DataFrame(zip(names,age,city),
    columns=['Names','Age','City'])

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
city=['Hyd','Blr','Nlr']
pd. DataFrame(zip(names,age,city),
    columns=['Names','Age','City'],
    index=[1,2,3])

In [ ]:
names=['tarun','surendar','mohith']
age=[20,21,22]
city=['Hyd','Blr','Nlr']
pd. DataFrame(zip(names,age),
    columns=['Names','Age'],
    index=city)

In [ ]:
import pandas as pd
names=['tarun','surendar','mohith']
age=[20,21,22]
city=['Hyd','Blr','Nlr']
pd. DataFrame(zip(names,age),
    columns=['Names','Age'],
    index=city)

In [ ]:
import pandas as pd
df1=pd.DataFrame()
df1

In [ ]:
l1= [1,2,3,4,5,6,7,8,9,10]
l2=[1,4,9,16,25,36,64,81,100]
l3=[1,8, 27,64,125, 216, 777, 888, 999, 10000]

pd.DataFrame(zip(l1,l2,l3),
  columns=['Number', 'Square','Cube'])

l1=[i for i in range(1,10)]
l2=[i**2 for i in range(1,10)]
l3=[i**3 for i in range(1,10)]
df1['X']=11
df1['Y']=12
df1['Z']=13
df1

- Create a new column

- createing a new list salary=[1000,2000,3000]

- df['S']

- Creating a new column the column name is our choice

- update existing coumn are same way only

- Here also we need a make a list of values = number of rows

- while updating the existing column

- we need to provide already existed column name only

- df['Z']= list of values

In [ ]:
z=[i ** 4 for i in range(1,10)]
df1['Z']=z
df1

In [ ]:
df2=pd.DataFrame()
l1=[i for i in range(1,10)]                     # use list comprehension to create the list
l2=[i**2 for i in range(1,10)]                    # use list comprehension to create the list
l3=[i**3 for i in range(1,10)]                 # use list comprehension to create the list

df2['Number']=l1                                   # create column headings X,Y,Z
df2['Square']=l2
df2['Cube']=l3

df2

df1.drop()

- Column: which column you want to drop

- axis: Represents the specified value is a row or column

    - axis= 0 means rows
    
    - axis=1 means column
    
    - by default axis=0

- inplace: will provide overwrite the dataframe or not

    - inplace= True, this indicates overwrite the dataframe

    - inplace=False, this indicates the modified dataframe will be use when you provide new variable for the operation

In [ ]:
df2.drop([4,8],axis=0)

In [ ]:
df2.columns[[0,1]]

In [ ]:
#how to select the column

In [ ]:
df2['Number']

In [ ]:
df2[['Number']]

In [ ]:
type(df2['Number'])

In [ ]:
type(df2[['Number']])

In [ ]:
df2[['Number','Square']]

In [ ]:
df2['Number'].values

- All values comes in an array

- Array means it is a list of elements only represnts using numpy pacakge

- Generally elements present in 4 ways

    - List : Basic represntations
    
    - Numpy array : Array with Numpy package
    
    - Tensors : Tensorflow package
    
    - Torch : Pytorch package

In [ ]:
list1=[1,2,3,4]
list1

In [ ]:
import numpy as np
np.array(list1)

In [ ]:
list2=[10,20,30,40]
list1+list2

In [ ]:
l1=np.array(list1)
l2=np.array(list2)
l1+l2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

- here we are reading visa dataset

- which is csv type: comma seperated value

- It is located in Datafiles folder

- In order to read any dataset

    - Directory

    - filename

    - type

In [ ]:
path=r"C:\Ai and ML\Data Files\Visadataset.csv"

In [ ]:
visa_df=pd.read_csv(path)

In [ ]:
visa_df

In [ ]:
path1=r"C:\Ai and ML\Data Files\Bank.csv"

In [ ]:
df1=pd.read_csv(path1,sep=';')

In [ ]:
df1

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
cat_list=[]
num_list=[]
for i,j in dict(data_types).items():
    if j=='object':
        cat_list.append(i)
    else:
        num_list.append(i)

In [ ]:
cat_list=[i for i,j in dict(data_types).items() if j == 'object']
num_list=[i for i,j in dict(data_types).items() if j != 'object']
cat_list, num_list

- take dtypes

- convert into dictionary

- create two lists

- create two dataframes

In [ ]:
data_types1=visa_df.dtypes
dict(data_types1)

In [ ]:
len(cat_list),len(num_list)

- we can not create a dataframe using these 2 lists

- because these two lists are not in equal length

- If you want to create a dataframe , then we need to make 2 lists has equal length

    - then you need to Question yuorself

    - making equal length required or not

    - if it is require how?

**Create columns dataframe**

In [ ]:
num_df=pd.DataFrame(num_list,columns=['Numerical_column'])
num_df.to_csv('Numerical_column_df.csv',index=False)

In [ ]:
cat_df=pd.DataFrame(cat_list,columns=['Categorical_column'])
cat_df.to_csv('Categorical_column_df.csv',index=False)

In [ ]:
visa_df.dtypes

In [ ]:
def add (a, b):
    '''his function adds two numbers.'''
    return a + b
print(add.__doc__)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path=r"C:\Ai and ML\Data Files\Visadataset.csv"
visa_df=pd.read_csv("C:\Ai and ML\Data Files\Visadataset.csv")
visa_df

In [ ]:
visa_df.isna()

In [ ]:
visa_df.info()

$take$

- First arguement: indices

- indices will take some values in array: in a list

- It tries to extract the data

- That values we provided represents columns or rows??

- Axis=0 represents rows

- axis=1 represents columns

- by default axis mentioned as zero

In [ ]:
#visa_df.take([100,200,300],axis=1)
# Now this will check for 100,200,300 column
# But originally we have only 12 (0,11)
# Will get error
visa_df.take([2,5,7])

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path=r"C:\Ai and ML\Data Files\Visadataset.csv"
visa_df=pd.read_csv("C:\Ai and ML\Data Files\Visadataset.csv")
visa_df

In [ ]:
cdf=visa_df['continent'].value_counts()
keys=cdf.keys()
values=cdf.values
cols=['Lables', 'Count' ]
df=pd.DataFrame(zip(keys,values),
columns=cols)
df.to_csv('Continent.csv', index=False)

In [ ]:
i='continent'

In [ ]:
cdf=visa_df[i].value_counts()
keys=cdf.keys()
values=cdf.values
cols=['Lables', 'Count' ]
df=pd.DataFrame(zip(keys,values),
columns=cols)
df.to_csv('Continent.csv', index=False)

In [ ]:
df

In [ ]:
visa_df.loc[:,['continent']]

In [ ]:
keys=cdf.keys()

In [ ]:
keys

In [ ]:
values=cdf.values

In [ ]:
values

In [ ]:
pd.DataFrame(zip(keys,values))

In [ ]:
continents=visa_df['continent'].unique()

count=[]
for i in visa_df['continent'].unique():
    con=visa_df['continent']==i
    count.append(len(visa_df[con]))

cols=['Continents','Number of Applicants']
continents_df=pd.DataFrame(zip(continents,count),
                columns=cols)
continents_df.to_csv('continents_df.csv',index=False)

In [ ]:
import matplotlib.pyplot as plt
plt.bar('Continents', # Cat column  X-axis
        'Number of Applicants', # Num column: Height Y-axis
        data=continents_df)

plt.title("Bar chart")  # Title of the graph
plt.xlabel('Continents') # X-axis name 
plt.ylabel('Number of Applicants') # Y-axis name
plt.show()

In [ ]:
continents_df

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(8,5))
order_continents=visa_df['continents'].value_counts().keys()
sns.countplot(data=visa_df,
              X='continents',
              order=order_continents)
plt.title('Bar chart')
plt.show()

In [ ]:
import os
os.getcwd()

In [ ]:
os.makedirs('C:\Ai and ML\os')

In [ ]:
root_directory=os.getcwd()
root_directory
new_folder='os'
new_dir=os.path.join(root_directory,new_folder)
new_dir
#os.makedirs(new_dir)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [ ]:
#Sub Plots